[Desktop Entry]
Version=1.0
Name=Osavul
GenericName=Server Browser
Comment=Server browser for Unvanquished
Icon=unvanquished
Terminal=false
Type=Application
Categories=Network;
Exec=/usr/bin/osavul
StartupNotify=true
