[Desktop Entry]
Version=1.0
Name=Osavul
GenericName=Unvanquished Server Browser
Comment=Server browser for Unvanquished
Icon=unvanquished
Terminal=false
Type=
Categories=Game
Exec=/usr/games/osavul
StartupNotify=true
